    html,body, #map{
      height:100%;
      width: 100%;
      overflow: hidden;
      padding: 0;
      margin: 0;
    }
    #map {
      z-index: 1;
    }
    #overlay {
      position:absolute;
      width: 300px;
      height: 130px;
      bottom: 32px;
      left: 32px;
      background-color:#FFFFCC;
      z-index: 100;
      border-radius: 20px;
    padding-left: 10px;
    }
    
    .trackinger {
font-family: 'Open Sans', sans-serif;    }

.texti {
text-align: center;
font-size: 15px;
font-family: 'Montserrat', sans-serif;
}

.form-signin-heading {
text-align: center;
margin-bottom: 20px;
}
