    html,body, #map{
      height:100%;
      width: 100%;
      overflow: hidden;
      padding: 0;
      margin: 0;
      font-family: 'Montserrat', sans-serif;
    }
    #map {
      z-index: 1;
    }
    #overlay-tracked{
      position:absolute;
      width: 100%;
      height: 60px;
      bottom: 25px;
      background-color:#FFFFCC;
      z-index: 100;
      border-radius: 15px;
    }
    
        #overlay-tracker {
      position:absolute;
      width: 150px;
      height: 60px;
      bottom: 25px;
      left: 25px;
      background-color:#FFFFCC;
      z-index: 100;
      border-radius: 15px;
    padding-left: 10px;
    }
    
.trackinger {
font-family: 'Open Sans', sans-serif;    }

.texti {
text-align: center;
font-size: 12px;
}

.texti-klein{
text-align: center;
font-size: 8x;
}

.form-signin-heading {
text-align: center;
margin-bottom: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #FFFFCC;
  z-index: 100;
      padding-top: 10px;
}

div.inline { display: inline }

.inline { display: inline }

.centered {
    width: 50%;
    margin: 0 auto;
}

.container.centered {
  margin-bottom: -10px;
}
