<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>trackinger</title>
 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link href="./css/bootstrap.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
 <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <link href="./css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>	
	<body>
    <div class="container">
      <form class="form-signin" action="tracked.htm">
        <h2 class="form-signin-heading trackinger">trackinger</h2>
        <p class="texti">Share route with this email address</p>
        <p><input type="text" class="form-control" autofocus=""></p>
        <p class="texti">PIN (optional)</p>
        <p><input type="text" class="form-control"  autofocus=""></p>
        <button class="btn btn-lg btn-primary btn-block btn-success" type="submit">Start route</button>
      </form>
    </div>
    <script src="./test/routeRadiatasGlorieta.js"></script>
		<script src="./app.js"></script>
	</body>
</html>
